<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Ürün Güncelle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Ürün Güncelle</h1>

    <form method="POST" enctype="multipart/form-data">
    <label for="name">Ürün Adı:</label><br>
    <input type="text" id="name" name="name" value="{{ product.name }}" required><br><br>

    <label for="price">Fiyat:</label><br>
    <input type="number" step="0.01" id="price" name="price" value="{{ product.price }}" required><br><br>

    <label>Mevcut Ürün Resmi:</label><br>
    <img src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="Ürün Resmi" width="150"><br><br>

    <label for="image">Yeni Ürün Resmi (isteğe bağlı):</label><br>
    <input type="file" id="image" name="image" accept="image/*"><br><br>
    <label>
  <input type="checkbox" name="remove_image" value="yes">
  Mevcut resmi sil
</label><br><br>


    <button type="submit">Güncelle</button>
</form>



    <br>
    <a href="{{ url_for('home') }}">← Geri Dön</a>
</body>
</html>
